<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">BootCampConnect</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a id="dashboardLink" href="badges.html">Profile</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row" id="categoryRow">
        <div class="col s12">
            <button class="waves-effect waves-light btn catBtn" id="generalBtn">General</button>
            <button class="waves-effect waves-light btn catBtn" id="jobsBtn">Jobs</button>
            <button class="waves-effect waves-light btn catBtn" id="collaborateBtn">Collaborate</button>
            <button class="waves-effect waves-light btn catBtn right" id="newPost">New Post</button>
        </div>
    </div>
    {{!-- </br> --}}
    <div class="row" id="posts">
        <div class="col s10 offset-s1">
            <h4>*Selected Category* Posts</h4>
        </div>

    </div>
</div>