<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo">BootCampConnect</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="profileLink">Profile</a></li>
            </ul>
        </div>
    </div>
</nav>
{{!-- ADD HREF OR LINK HERE FOR THIS TO WORK --}}
<ul class="sidenav" id="mobile-demo">
    <li><a href="/profile" id="profileLink">Profile</a>
    </li>
</ul>
<div class="row">
    <div class="col s8 offset-s2">
        <h4>Edit Your Profile</h4>
        <div class="postContainer">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="row">
                            <form class="col s12 profileEdit">
                                <div class="row">
                                    <div class="input-field col s8 offset-s1">
                                        <h6>Location</h6>
                                        <input id="locationEdit" type="text" value="{{location}}">
                                        {{!-- <label for="locationEdit">Location</label> --}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s8 offset-s1">
                                        <h6>Github</h6>
                                        <input id="githubEdit" type="text" value="{{github}}">
                                        {{!-- <label for="githubEdit">Github</label> --}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s8 offset-s1">
                                        <h6>LinkedIn</h6>
                                        <input id="linkedinEdit" type="text" value="{{linkedIn}}">
                                        {{!-- <label for="linkedinEdit">LinkedIn</label> --}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s8 offset-s1">
                                        <h6>Bio</h6>
                                        <textarea id="bioEdit" class="materialize-textarea" value="{{bio}}"></textarea>
                                        {{!-- <label for="bioEdit">Update your bio</label> --}}
                                    </div>
                                </div>
                                <button class="btn waves-effect waves-light right" id="updateProfileBtn"
                                    type="submit">Update Profile
                                    <i class="material-icons right">send</i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#profileLink").on("click", () => {
            window.location.replace("/profile/" + sessionStorage.getItem("currentUser"))
        })
    </script>