<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo">BootCampConnect</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="dashboardLink" href="badges.html">Back to Dashboard</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card">
                <div class="row" id="photoRow">
                    <div class="col s4">
                        <div class="card-image">
                            <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Neckertal_20150527-6384.jpg/1200px-Neckertal_20150527-6384.jpg">
                            <span class="card-title">User Name</span>
                        </div>
                    </div>
                    <div class="col s6">
                        <h5>Recent Posts:</h5>
                        <div id="postsSpace">Handlebars -- Load Posts here</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 left-align">
                        <div class="card-content">
                            <ul id="userInfo">
                                <li id="location">Location: </li>
                                <li id="email">Email: </li>
                                <li id="github">GitHub: </li>
                                <li id="linkedIn">LinkedIn: </li>
                                <li></li>
                                <li id="bio">Bio:</li>
                                <p id="bioSpace">Here is where the bio information will go!</p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>