<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">BootCampConnect</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a id="profileLink" href="/profile">Profile</a></li>
            <li><a id="dashboardLink" href="badges.html">Dashboard</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card">
                <div class="row">
                    <div class="col s4">
                        <div class="card-image">
                            <img src="../public/Assets/user.png">
                            <span class="card-title">User Name</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 left-align">
                            <div class="card-content left-align">
                                <ul>
                                    <li id="email">Email:</li>
                                    <li id="github">GitHub:</li>
                                    <li id="linkedIn">LinkedIn:</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>