  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BootCampConnect</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a id="profileLink" href="/profile">Profile</a></li>
        <li><a id="dashboardLink" href="badges.html">Dashboard</a></li>>
      </ul>
    </div>
  </nav>