#loginForm {
  border: 1px lightgray solid;
  padding: 1rem;
  margin-top: 3rem;
}
.card .card-content {
  padding-top: 0.4rem;
}
li {
  font-weight: bold;
}
#photoRow {
  margin-bottom: 0.5rem;
}
#userInfo {
  line-height: 2rem;
}
#categoryRow {
  margin-top: 2rem;
}
.catBtn {
  margin-left: 2rem;
}
.brand-logo {
  margin-left: auto;
}
#submitNewPost{
  margin-right: 2rem;
}
/* .editHover {
  background: #E8F3FF 
} */
#editProfileBtn{
  margin: 1rem;
  display: none;
}
.noBlue{
  color:white;
}
#finalUpdateProfileBtn{
  margin: 1rem;
}

.dropdown-content{
  width: max-content !important;
  height:auto !important;
}
.dropdown-trigger{
  background-color: #26a69a;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
}

.catSelect{
  font-size: larger;
  margin-left: 7.5% !important
}
#userName{
  font-weight: bold;
}
nav{
  /* background-color: #4979B6; */
  /* background-color: #8B619E; */
  /* background-color: #677698; */
  /* background-color: #C5A03A; */
  background-color: #38807B !important;
  /* background-color: #348B56 !important; */
}
.btn{
  /* background-color: #49B0B6 */
  /* background-color: #9E6192; */
  /* background-color: #678E98; */
  /* background-color: #C55A3A; */
  background-color: #47A49E !important;
  /* background-color: #3D8B34 !important; */
}