#loginForm {
  border: 1px lightgray solid;
  padding: 1rem;
  margin-top: 3rem;
}
.card .card-content {
  padding-top: 0.4rem;
}
li {
  font-weight: bold;
}
#photoRow {
  margin-bottom: 0.5rem;
}
#userInfo {
  line-height: 2rem;
}
#categoryRow {
  margin-top: 2rem;
}
.catBtn {
  margin-left: 2rem;
}
.brand-logo {
  margin-left: auto;
}
#submitNewPost{
  margin-right: 2rem;
}
/* .editHover {
  background: #E8F3FF 
} */
#editProfileBtn{
  margin: 1rem;
  display: none;
}
.noBlue{
  color:white;
}
#updateProfileBtn{
  margin: 1rem;
}

.dropdown-content{
  width: max-content !important;
  height:auto !important;
}
.dropdown-trigger{
  background-color: #26a69a;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
}

.catSelect{
  font-size: larger;
  margin-left: 7.5% !important
}
#userName{
  font-weight: bold;
}